html,
body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.856);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}


/* body div:nth-child(2) {
    background-color: rgba(57, 107, 63, 0.97);
} */


/* MENU */

nav {
    background-color: rgba(23, 66, 28);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 2;
    padding: 0 2vw;
}

nav p {
    color: white;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    animation-name: color;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes color {
    0% {
        color: rgba(255, 255, 255, 0.603);
    }
    25% {
        color: rgba(255, 255, 255, 0.733);
    }
    50% {
        color: rgba(255, 255, 255, 0.842)
    }
    75% {
        color: rgb(14, 53, 19)
    }
    100% {
        color: rgb(23, 66, 28);
    }
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(57, 107, 63, 0.97);
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
    padding: 0 1vw;
}

.burger {
    border: 0;
    cursor: pointer;
    display: none;
    font-size: 22px;
    position: relative;
    padding: 0;
    outline: none;
    height: 30px;
    width: 30px;
    background-color: transparent;
    z-index: 2;
}

.burger:active {
    color: #992F36;
    outline: none;
}

.burger .bar {
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    height: 5px;
    width: 30px;
    transition: transform 0.2s ease;
}

.burger .bar:first-of-type {
    top: 30%;
}

.burger .bar:last-of-type {
    top: 70%;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 2;
}

ul li {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

ul li a {
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    transition: all, 0.3s ease-out;
    display: flex;
    align-items: center;
    height: 100%;
}

@media screen and (max-width: 730px) {
    header h1 {
        font-size: 2em;
    }
    .burger {
        display: block;
    }
    nav {
        align-items: center;
        justify-content: space-between;
        padding: 0 3vw;
    }
    .burger.show-x .bar:first-of-type {
        transform: translate(-50%, 80%) rotate(225deg);
    }
    .burger.show-x .bar:last-of-type {
        transform: translate(-50%, -150%) rotate(-225deg);
    }
    ul {
        background-color: rgba(23, 66, 28, 0.9);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        text-align: center;
        position: fixed;
        top: 110px;
        left: 10%;
        transform: translateX(120%);
        width: 80%;
        transition: transform 0.3s ease-in;
        z-index: 100;
    }
    ul.show {
        transform: translateX(0);
    }
    ul li a {
        padding: 1vh;
        width: 100%;
        justify-content: center;
    }
    ul li {
        margin: 15px;
    }
}

ul li {
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    padding: 0 0.5vw;
}

ul li:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(57, 107, 63, 0.97);
    transform: scaleY(0);
    transform-origin: 50% 101%;
    transition: transform 0.3s ease-out;
}

ul li:hover:before,
ul li:focus:before,
ul li:active:before {
    transform: scaleY(1);
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
}

ul li a:hover {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}


/* .main.nonactive {
    display: none;
} */

.main {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(57, 107, 63, 0.97);
}

.russian_header,
p {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
}

.main_inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2vh;
    background-color: rgba(57, 107, 63, 0.97);
    border: 5px solid rgba(23, 66, 28, 0.8);
    border-radius: 2px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.count,
.answers,
.robot_answer,
.letter,
.best_score,
.current_score {
    display: flex;
    width: 100%;
}

.best_label {
    flex-basis: 150%;
}

.current_city,
#current_city_name,
.current_letter_label,
#current_letter,
.best_label,
#best_score_num,
.current_label,
#current_score_num {
    display: flex;
    align-items: center;
    width: 100%;
}

.robot_answer,
.letter,
.best_score,
.current_score {
    border: 2px solid rgba(23, 66, 28);
    border-radius: 3px;
    background-color: rgb(74, 168, 87, 0.5);
    box-shadow: inset 0px 0px 4px 2px #17421C;
    margin: 1vh;
    padding: 0.5vw;
}

.current_label,
.best_label,
.current_letter_label,
.current_city,
.current_city_name,
.current_letter,
.best_score_num,
.current_score_num {
    padding-left: 2vw;
    font-weight: 700;
}

.answers,
.count {
    width: 100%;
}


/* .main p {
    padding: 2vh 0;
}

.main p:nth-child(1) {
    padding-left: 2vh;
}

.main p:nth-child(2) {
    padding-right: 2vh;
} */


/* input */

.form {
    margin: 5% 0 2% 0;
}

.main input,
.main span,
.main label {
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 15px;
}

.main input:focus {
    outline: 0;
}

.main input::placeholder {
    color: #17421C;
    font-weight: 700;
}

.main input.question {
    font-size: 38px;
    color: white;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
    /* Hack to make "rows" attribute apply in Firefox. */
}


/* Underline and Placeholder */

.main input.question+label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 5%;
    border-top: 5px solid red;
    transition: width 0.4s ease;
    height: 0px;
}

.main input.question:focus+label {
    width: 100%;
}

.main input.question:focus,
.main input.question:valid {
    padding-top: 25px;
}

.main input.question:focus+label>span,
.main input.question:valid+label>span {
    top: -100px;
    font-size: 20px;
    color: #17421C;
    font-weight: 400;
}

.main input.question:valid+label {
    border-color: rgb(0, 255, 42);
}

.main input.question:invalid {
    box-shadow: none;
}

.main input.question+label>span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #ffffff;
    font-size: 28px;
    font-weight: 400;
    top: -90px;
    left: 0px;
    /* z-index: -1; */
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.main input[type="submit"] {
    -webkit-transition: opacity 0.2s ease, background-color 0.2s ease;
    transition: opacity 0.2s ease, background-color 0.2s ease;
    display: block;
    opacity: 0;
    margin: 10px 0 0 0;
    padding: 10px;
    cursor: pointer;
}

.main input[type="submit"]:hover {
    background: #EEE;
}

.main input[type="submit"]:active {
    background: #999;
}

.main input.question:valid~input[type="submit"] {
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;
}

.main input.question:invalid~input[type="submit"] {
    display: none;
}

@-webkit-keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}


/* GAME OVER */


/* .game_over.notactive {
    display: flex;
} */

.game_over {
    /* display: flex; */
    display: none;
    position: relative;
    background-color: rgba(57, 107, 63, 0.97);
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}

.game_over_inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    width: 100%;
    height: 30vh;
    padding: 2%;
}

.go_header {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    margin: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    animation: headerEnd 1s linear;
}

@keyframes headerEnd {
    0% {
        transform: scale(12.8)
    }
}

.btn {
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-weight: 900;
    line-height: 30px;
    margin: 0 0 4%;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 30%;
    height: 5vh;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 4s both;
}

@keyframes shake-horizontal {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

.btn :focus {
    outline: none;
}

.btn {
    background: #A84A63;
    border: 1px solid #A84A63;
    border-radius: 5px;
    box-shadow: 0px 2px 0 #5C1628, 2px 4px 6px #5C1628;
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 150ms linear;
}

.btn:hover {
    background: #5C1628;
    border: 1px solid rgba(219, 11, 11, 0.05);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.808);
    color: rgb(168, 74, 99);
    text-decoration: none;
    text-shadow: -1px -1px 0 #000000;
    transition: all 250ms linear;
}

@media(max-width: 880px) {
    .answers,
    .count {
        flex-wrap: wrap;
    }
    .current_score,
    .best_score,
    .robot_answer,
    .letter {
        margin: 2% 0;
    }
    .btn {
        font-size: 15px;
        width: 50%;
    }
}

@media (max-width: 550px) {
    .main input.question {
        font-size: 25px;
        margin-top: 5%;
    }
    .main input.question+label>span {
        font-size: 10px;
        top: -70px;
    }
    .main input.question:focus+label>span,
    .main input.question:valid+label>span {
        font-size: 12px;
    }
    .go_header {
        font-size: 25px;
    }
    .btn {
        font-size: 15px;
        width: 90%;
        height: 7vh;
    }
}

@media (max-width: 350px) {
    .go_header {
        font-size: 25px;
    }
    .btn {
        font-size: 15px;
        width: 90%;
        height: 7vh;
    }
    .russian_header {
        font-size: 20px;
    }
    p,
    label {
        font-size: 10px;
    }
     ::placeholder {
        font-size: 15px;
    }
}